@url-fonts: "../fonts/";

@font-face {
    font-family: 'Stem Extra';
    src: local('Stem Extra Light'), local('Stem-ExtraLight'),
		url('@{url-fonts}Stem-ExtraLight.woff2') format('woff2'),
        url('@{url-fonts}Stem-ExtraLight.woff') format('woff'),
        url('@{url-fonts}Stem-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem Thin'), local('Stem-Thin'),
        url('@{url-fonts}Stem-Thin.woff2') format('woff2'),
        url('@{url-fonts}Stem-Thin.woff') format('woff'),
        url('@{url-fonts}Stem-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem Light'), local('Stem-Light'),
        url('@{url-fonts}Stem-Light.woff2') format('woff2'),
        url('@{url-fonts}Stem-Light.woff') format('woff'),
        url('@{url-fonts}Stem-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem'), local('Stem-Regular'),
        url('@{url-fonts}Stem-Regular.woff2') format('woff2'),
        url('@{url-fonts}Stem-Regular.woff') format('woff'),
        url('@{url-fonts}Stem-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem Bold Italic'), local('Stem-BoldItalic'),
        url('@{url-fonts}Stem-BoldItalic.woff2') format('woff2'),
        url('@{url-fonts}Stem-BoldItalic.woff') format('woff'),
        url('@{url-fonts}Stem-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem Italic'), local('Stem-Italic'),
        url('@{url-fonts}Stem-Italic.woff2') format('woff2'),
        url('@{url-fonts}Stem-Italic.woff') format('woff'),
        url('@{url-fonts}Stem-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem Bold'), local('Stem-Bold'),
        url('@{url-fonts}Stem-Bold.woff2') format('woff2'),
        url('@{url-fonts}Stem-Bold.woff') format('woff'),
        url('@{url-fonts}Stem-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stem Extra';
    src: local('Stem Extra Light Italic'), local('Stem-ExtraLightItalic'),
        url('@{url-fonts}Stem-ExtraLightItalic.woff2') format('woff2'),
        url('@{url-fonts}Stem-ExtraLightItalic.woff') format('woff'),
        url('@{url-fonts}Stem-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem Light Italic'), local('Stem-LightItalic'),
        url('@{url-fonts}Stem-LightItalic.woff2') format('woff2'),
        url('@{url-fonts}Stem-LightItalic.woff') format('woff'),
        url('@{url-fonts}Stem-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Stem';
    src: local('Stem Medium'), local('Stem-Medium'),
        url('@{url-fonts}Stem-Medium.woff2') format('woff2'),
        url('@{url-fonts}Stem-Medium.woff') format('woff'),
        url('@{url-fonts}Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('@{url-fonts}BebasNeueBold.woff2') format('woff2'),
        url('@{url-fonts}BebasNeueBold.woff') format('woff'),
        url('@{url-fonts}BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}