@develop-mode: false;




@width-sm: 		576px;
@width-md: 		768px;
@width-lg: 		1040px;
@width-1366: 	1367px;
@width-xl: 		1800px;


@height-sm: 	600px;
@height-md: 	768px;
@height-lg: 	1000px;


@orange: #ffc200;
@red: #f92401;

@font-museo: "Museo Cyrl", sans-serif;


.btn-normalize () {
    font-family: 'Gotham Pro', sans-serif;
	display: inline-block;
	border-radius: 0;
	padding: 0;
	outline: none;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	background: none; 
	overflow: hidden;
    vertical-align: middle;
	transform: translateZ(0);
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}


body {
	
    -webkit-font-smoothing: antialiased;
	font-family: "Gotham Pro", sans-serif;
	font-size: 14px;
	background: white;
//	color: #b9b9b9;
	
	& when (@develop-mode = true) {
//		background: url(/img/rm/bg.jpg) top center;
		background: url(/img/rm/1.jpg) top center;
	}
}
img {
	max-width: 100%;
}
.small {
	font-size: 75%;
}
.nowrap {
	white-space: nowrap;
}
.red {
	color: #f92401;
}
.i-star {
	background: url(../img/star.png) center no-repeat;
	background-size: contain;
	width: 31px;
	height: 31px;
	display: inline-block;
}






.item-group {
	display: flex;
	align-items: baseline;
	position: relative;
    margin-bottom: 10px;
	color: white;
//	&_black {
//		color: black;
//		border-bottom: 1px solid #e1e1e1;
//	}
	&_icon {
		&:before {
			content: '';
			position: absolute;
		}
		> .item-group__input  {
			padding-left: 60px;
		}
	}
	&_icon-name {
		&:before {
			width: 21px;
			height: 21px;
//			background: @sprite-url -82px -1px no-repeat;
			background: data-uri('../img/icon-name.png') center no-repeat;
			background-size: contain; 
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&_icon-tel {
		&:before {
			width: 20px;
			height: 20px;
//			background: @sprite-url -100px -1px no-repeat;
			background: data-uri('../img/icon-tel.png') center no-repeat; 
			background-size: contain; 
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&_icon-email {
		&:before {
			width: 20px;
			height: 21px;
			background: data-uri('../img/icon-email.png') center no-repeat;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
//	&__label {
//		position: absolute;
//		color: #79c249;
//		font-weight: 300;
//		
//		height: 100%;
//		left: 38px;
//		
//		font-size: 12px;
//		padding: 10px 0 9px;
//		
//		
//	}
	&__input {
		background: white;
		border: 1px solid #c2c2c0;
		border-radius: 26px;
		font-family: 'Gotham Pro', sans-serif;
		
		
		width: 100%;

		padding: 15px 15px;
		box-shadow: none;
		font-size: 16px;
		
		transition: all .3s ease;
		outline: none;
		color: black;

	}
}
.btn {
	.btn-normalize ();
	
	&_red {
		background: @red;
		font-size: 22px;
		font-weight: bold;
		color: white;
		border-radius: 40px;
		padding: 14px 20px 11px;
		text-transform: uppercase;
		
		box-shadow: 0px 11px 24px 0px rgba(252, 70, 40, 0.37);
		
		&:hover {
			background-image: linear-gradient(to bottom, @red 0%, #db0600 100%);
		}
	}
	&_orange {
		background: #fbdd01;
		font-size: 22px;
		font-weight: bold;
		color: black;
		border-radius: 40px;
		padding: 14px 20px 11px;
		text-transform: uppercase;
		
		box-shadow: 0px 11px 24px 0px rgba(3, 140, 148, 0.37);
		
		&:hover {
			background-image: linear-gradient(to bottom, #fbdd01 0%, #eace05 100%);
		}
	}
	
	
	&_block {
		display: block;
		width: 100%;
	}
}



.header {
	z-index: 1;
	position: relative;
	&__top {
		background: white;
	}
	&__bottom {
		background-image: linear-gradient( to top, rgb(255,207,39) 0%, rgb(255,242,1) 100%);
	}
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		
	}
}
.header-nav {
	height: 63px;
	width: 943px;
	display: flex;
	align-items: center;
//	justify-content: flex-end;
	justify-content: space-between;
    margin-right: -10px;
    margin-left: auto;
	&__item {
		font-size: 17px;
		color: black;
		line-height: 1.2;
		font-weight: 500;
		text-decoration: none;
		
		padding: 6px 10px 3px;
		border-radius: 20px;
		
		&:hover {
			background: white;
		}
	}
}
.header-logo {
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	width: 200px;
	height: 218px;
	position: absolute;
	left: 0;
	top: -100px;
}
.header-top {
	height: 117px;
	width: 920px;
	display: flex;
	align-items: center;
//	justify-content: flex-end;
	justify-content: space-between;
    margin-right: 0;
    margin-left: auto;
	&__text {
		text-align: left;
		font: 500 22px/30px @font-museo;
	}
	&__btn {
		.btn-normalize ();
		background-color: #f92401;
		box-shadow: 0px 11px 24px 0px rgba(252, 70, 40, 0.37);
		color: white;
		border-radius: 50px;
		font-size: 18px;
		line-height: 1;
		padding: 6px 20px;
		width: 233px;
		text-align: center;
		
		&:hover {
			background-image: linear-gradient(to bottom, @red 0%, #db0600 100%);
		}

	}
	&__number {
		text-align: right;
	}
	&__tel {
		display: block;
		
		font: 500 30px/30px @font-museo;
		color: black;
		text-decoration: none;
		margin-bottom: 10px;
	}
	&__call-me {
		font: 500 20px/20px @font-museo;
		color: #066781;
		text-decoration: none;
		border-bottom: 1px dashed #066781;
		
		
		
	}
}

.section {
//	border-bottom: 3px solid red;
	position: relative;
	padding: 0 0;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 8px;
		width: 100%;
		background: url(../img/delimiter.png) center;
	}
}
.section-title {
	font: 500 40px/50px @font-museo;
	text-align: center;
	margin: 0;
	&_uppercase {
		text-transform: uppercase;
	}
	&_b-15 {
		
		margin-bottom: 15px;
	}
	&_t-57 {
		margin-top: 57px;
	}
}
.section-subtitle {
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	margin: 0;
}
















.hero {
	margin-top: 33px;
	
	background: url(../img/hero-bg.jpg) no-repeat;
	background-size: contain;
	background-position: 110px 0;
	
	height: 570px;
	position: relative;
	margin-bottom: 4px;
	
//	opacity: 0.5;
	
	&__plate {
		border: 5px solid #ffdd1c;
		border-radius: 24px;
		background-image: linear-gradient(-17deg, rgb(238,238,238) 50%, rgb(255,255,255) 51%);
		text-align: center;
//		display: flex;
		position: absolute;
		font: 500 23px/23px @font-museo;
		color: #066781;
		
		width: 180px;
		height: 242px;
		bottom: 53px;
		left: 0;
		padding-top: 5px;
		&-1 {
			font-size: 33px;
			line-height: 1.2;
			text-transform: uppercase;
		}
		&-2 {
			font-size: 52px;
			line-height: 1.2;
		}
	}
	&__right-block {
		width: 293px;
		float: right;
	}
	&__price {
		.red;
		font: 500 40px/41px @font-museo;
		margin-top: 44px;
		margin-bottom: 15px;
		> .small {
			font-size: 75%;
		}
		> .long {
			font-size: 125%;
		}
	}
	&__old-price {
		
		font: 500 30px/35px @font-museo;
		position: relative;
		
		width: 190px;
		&:before {
			content: '';
			width: 180px;
			height: 1px;
			background: @red;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-20deg);
		}
	}
	&__list {
		list-style: none;
		padding-left: 0;
		margin-top: 25px;
		margin-bottom: 26px;
		line-height: 1.5;
	}
	&__btn {
		.btn-normalize ();
		border-radius: 50px;
		background-image: linear-gradient( -90deg, rgb(255,207,39) 0%, rgb(255,242,1) 100%);
		width: 289px;
		height: 65px;
		
		
		font: 500 20px/22px @font-museo;
		color: black;
		text-align: left;
		padding-left: 65px;
		overflow: visible;
		margin-bottom: 10px;
		&:before {
			content: '';
			background: url(../img/roulette.png) center no-repeat;
			background-size: contain;
			width: 102px;
			height: 79px;
			position: absolute;
			left: -45px;
			top: -7px;
			
		}
	}
}



.price-list {
//		border: 1px solid #d0e1e1;
	border-radius: 5px;
	box-shadow: inset 0 0 0px 1px #d0e1e1;
	position: relative;
	margin-bottom: 145px;
	margin-top: 42px;
	
	&__head {
		border-radius: 5px;
		background-color: #13b5bf;
		height: 43px;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		padding-left: 360px;
		
	}
	&__item {
		text-align: center;
		margin-top: -43px;
		padding: 0 50px;
	}
	&__title {
		font-size: 18px;
		color: white;
		line-height: 43px;
		margin-bottom: 31px;
	}
	&__price-1 {
		font-size: 30px;
		font-weight: bold;
		color: @red;
		margin-bottom: 30px;
	}
	&__price-2 {
		font-size: 28px;
		font-weight: 500;
		color: @red;
		margin-bottom: 30px;
	}
	&__quality {
		margin-bottom: 30px;
	}
	&__text {
		font-size: 20px;
		margin-bottom: 30px;
	}
}
.price-hero-item {
	width: 360px;
	height: 417px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 29px 0px rgba(1, 1, 1, 0.19);
	position: absolute;
	top: -8px;
	left: 0;
	&__head {
		border-radius: 5px;
		background-color: #ffdd1c;
		height: 58px;
		position: relative;
		padding-top: 14px;
		margin-bottom: 24px;
		&:before {
			content: '';
			background: url(../img/text-bg.png) no-repeat;
			position: absolute;
			width: 193px;
			height: 25px;
			z-index: 0;
			left: 50%;
			top: 14px;
			transform: translate(-50%, 0)
		}
	}
	&__title {
		font-size: 24px;
		font-family: "Gotham Pro";
		color: @red;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		text-shadow: 0px 13px 18px rgba(1, 1, 1, 0.33);
		position: relative;
	}
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 19px;
		padding: 0 35px;
		height: 40px;
	}
	&__label {
		font-size: 18px;
	}
	&__price-1 {
		font-size: 30px;
		font-weight: bold;
		color: @red;
		margin-top: 1px;
	}
	&__price-2 {
		font-size: 28px;
		font-weight: 500;
		color: @red;
	}
	&__text {
		font-size: 20px;
	}
	&__btn {
		
		.btn-normalize ();
		font-size: 22px;
		line-height: 1.2;
		font-weight: bold;
		color: white;
		background: @red;
		border-radius: 25px;
		
		box-shadow: 0px 11px 24px 0px rgba(252, 70, 40, 0.37);
		padding: 13px 20px 11px;
		width: 301px;
		text-transform: uppercase;
		position: absolute;
		margin-left: auto;
		bottom: -31px;
		margin-right: auto;
		left: 0;
		right: 0;
		&:hover {
			background-image: linear-gradient(to bottom, @red 0%, #db0600 100%);
		}
	}
	
}

.window-type {
	text-align: center;
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 50px;
	margin-top: 45px;
	&__item {
		background-size: contain;
		background-repeat: no-repeat;
		
		&_1 {
			background-image: url(../img/window-type-1.png);
			background-position: center 70px;
			width: 281px;
			
			padding-left: 11px;
			padding-right: 11px;
		}
		&_2 {
			background-image: url(../img/window-type-2.png);
			background-position: center 70px-15px;
			width: 393px;
			
			padding-left: 11px;
			padding-right: 11px;
		}
		&_3 {
			background-image: url(../img/window-type-3.png);
			background-position: center 70px;
			width: 377px;
			padding-left: 11px;
		}
	}
	&__tooltip {
		background: #13b5bf; 
		border-radius: 5px;
		color: white;
		font: 500 24px/24px @font-museo;
		padding: 10px 10px 11px;
		position: relative;
//		margin-left: 15px;
//		margin-right: 15px;
		margin-bottom: 320px;
		&:before {
			content: '';
			position: absolute;
			background: #13b5bf;
			width: 15px;
			height: 15px;
			left: 50%;
			top: 100%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
	&__text {
		color: @red;
		font-size: 22px;
		font-weight: 500;
	}
	&__price {
		color: @red;
		font-size: 30px;
//		font-family: @font-museo;
		font-weight: 500;
		margin-bottom: 10px;
		> span {
			font-size: 40px;
			font-weight: bold;
		}
	}
	&__old-price {
		font-size: 22px;
		font-weight: 500;
		position: relative;
		
		&:before {
			content: '';
			width: 160px;
			height: 1px;
			background: @red;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-20deg);
		}
	}
}
.free-measuring {
	text-align: center;
	&__title {
		font: 500 36px/40px @font-museo;
	}
	&__subtitle {
		font-size: 24px;
		margin-bottom: 34px;
		margin-top: 9px;
	}
	&__btn {
		.btn-normalize ();
		font-size: 22px;
		line-height: 1;
		font-weight: bold;
		color: white;
		background: @red;
		border-radius: 50px;
		
		box-shadow: 0px 11px 24px 0px rgba(252, 70, 40, 0.37);
		padding: 19px 20px 15px 50px;
		text-transform: uppercase;
		overflow: visible;
		margin-bottom: 71px;
		margin-left: 48px;
		
		&:before {
			content: '';
			background: url(../img/guarantee-mark.png) center no-repeat;
			background-size: contain;
			
			width: 96px;
			height: 118px;
			position: absolute;
			left: -50px;
			top: -20px;
		}

		&:hover {
			background-image: linear-gradient(to bottom, @red 0%, #db0600 100%);
		}
		
		
	}
}



.window-shape {
	text-align: center;
	margin-top: 68px;
	&__img {
		margin-bottom: 24px;
	}
	&__price {
		.red;
		font-weight: 500;
		font-size: 30px;
		> span {
			font-weight: bold;
			font-size: 36px;
		}
	}
}
.find-price {
	background: linear-gradient(to bottom, #fff201 0%, #ffcf27 50%);
	padding: 43px 0 45px;
	margin-top: 52px;
	margin-bottom: 52px;
	
//	opacity: .5;
	&__subtitle {
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
		margin-top: 12px;
	}
	&__form {
		display: flex;
		justify-content: center;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	&__input {
		width: 218px;
		
		
		background: white 3px center no-repeat;
		border: 0;
		border-radius: 26px;
		font-family: 'Gotham Pro', sans-serif;

		padding: 15px 15px 15px 63px;
		box-shadow: none;
		font-size: 16px;
		
		transition: all .3s ease;
		outline: none;
		color: black;
		height: 51px;
		margin-right: 21px;
		
		box-shadow: 0px 11px 24px 0px rgba(159, 137, 14, 0.37);
		
		&_tel {
			background-image: url(../img/b-tel.png);
		}
		&_name {
			background-image: url(../img/b-name.png);
		}
	}
	&__btn {
		width: 250px;
		height: 50px;
	}
	&__time {
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 19px;
	}
	&__note {
		font-size: 12px;
		font-weight: 300;
		text-align: center;
	}
	
}









.colors-section {
	text-align: center;
	&__subtitle {
		font: 500 30px/35px @font-museo;
		color: #066781;
		margin-top: 9px;
		margin-bottom: 40px;
	}
	&__text {
		font-size: 24px;
		font-weight: 500;
		margin-top: 51px;
		margin-bottom: 10px;
	}
	&__more {
		font-size: 24px;
		font-weight: 500;
		font-family: @font-museo;
		color: #066781;
		border-bottom: 1px dashed #066781;
		text-decoration: none;
		padding-bottom: 5px;
		margin-bottom: 10px;
		
	}
}
.colors-slider {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		width: 136px;
		height: 136px;
		border-radius: 50%;
		background-color: black;
		margin-bottom: 30px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__text {
		font-size: 18px;
		font-weight: 300;
	}
	
	.slick-arrow {
		width: 43px;
		height: 61px;
		top: 79px;
	}
	.slick-prev {
		left: -5-44px;
		background-image: url(../img/arrow-1-left.png);
		&:hover {
			background-image: url(../img/arrow-1-left-h.png);
		}
	}
	.slick-next {
		right: -17px-44px;
		background-image: url(../img/arrow-1-right.png);
		&:hover {
			background-image: url(../img/arrow-1-right-h.png);
		}
		
	}
}



.equipment-section {
	background: url(../img/blue-bg.png) center no-repeat;
	height: 499px;
	padding-top: 85px;
    margin-top: 16px;
	
	
	
//    opacity: .5;
	&__title {
		font: 500 40px/50px @font-museo;
		
		text-shadow: 0px 6px 8px rgba(0, 83, 88, 0.34);
		text-align: center;
		margin: 0;
		color: white;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 14px;
	}
}
.equipment-slider {
	width: 1045px;
	margin-left: auto;
	margin-right: auto;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		border-radius: 10px;
		background-color: white;
		width: 330px;
		height: 240px;
		
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__name {
		border-radius: 22px;
		background-color: #fbdd01;
		box-shadow: 0px 11px 24px 0px rgba(3, 140, 148, 0.37);
		width: 262px;
		height: 44px;
//		margin-left: 33px;
//		margin-right: 33px;
//		width: 100%;
		margin-top: -17px;
		margin-bottom: 15px;
		font-size: 20px;
		text-transform: uppercase;
		
		text-align: center;
		padding-top: 10px;
	}
	&__price {
		font-size: 30px;
		color: white;
		text-align: center;
		text-shadow: 0px 6px 8px rgba(0, 83, 88, 0.34);
	}
	
	
	
	.slick-arrow {
		width: 64px;
		height: 64px;
		top: 135px;
	}
	.slick-prev {
		left: -82px;
		background-image: url(../img/arrow-2-left.png);
	}
	.slick-next {
		right: -82px;
		background-image: url(../img/arrow-2-right.png);
		
	}
}



/*
 * Преимущества
 */
.advantages {
//	background: white;
	&__block {
		height: 299px;
		background: url(../img/advantages-bg.png) left 40px no-repeat;
		display: flex;
		justify-content: flex-start;
	}
	&__item {
		padding-top: 70px;
		flex: 0 0 auto;
		
	}
	&__text {
		
		font: 500 22px/26px @font-museo;
		text-transform: uppercase;
		margin-left: 196px;
	}
//	&__ {
//		
//	}
}

/*
 * Определились с выбором?
 */
.section-call-me {
	background: url(../img/section-call-me-bg.jpg) center no-repeat;
	background-size: auto 100%;
	margin-bottom: 70px;
	
//	opacity: .5;
	&__text-block {
		
	}
	&__title {
		
		
		font: 500 40px/50px @font-museo;
		text-transform: uppercase;
		margin-bottom: 36px;
	}
	&__text {
		font: 500 30px/40px @font-museo;
		margin-bottom: 110px;
	}
	&__form {
		text-align: center;
		border-radius: 10px;
		background: white;
		box-shadow: 0px 0px 29px 0px rgba(1, 1, 1, 0.1);
//		position: absolute;
		width: 390px;
		height: 436px;
		padding: 0 33px;
		margin-left: 40px;
		margin-right: 10px;
	}
	&__form-title {
		font-size: 30px;
		margin: 39px 0 30px;
	}
	&__btn {
		margin-top: 33px;
	}
	&__note {
		font-size: 11px;
		font-weight: 300;
		color: #919191;
		margin-top: 15px;
		> a {
			color: inherit;
		}
	}
	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 540px;
	}
}
.production-time {
	margin-bottom: 70px;
	&__title {
		margin-bottom: 36px;
	}
}


/*
 * Оконные профили
 */
.window-profiles {
	width: 1056px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 64px;
	
	& when (@develop-mode = true) {
		opacity: .5;
	}
	&__item {
		text-align: center;
		display: flex;
		flex-direction: column;
//		justify-content: center;
		align-items: center;
		margin-top: 54px;
		&:hover {
			.window-profiles__img {
				box-shadow: inset 0 0 0px 3px #fbdd01;
			}
		}
	}
	&__img {
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		
		box-shadow: 0px 0px 29px 0px rgba(1, 1, 1, 0.19);
		width: 300px;
		height: 300px;

	}
	&__name {
		border-radius: 10px;
		background-color: #17b6c0;
		height: 45px;
		width: 229px;
		padding-top: 8px;
		
		font-size: 28px;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 27px;
		margin-top: 25px;
	}
	&__text {
		font-size: 20px;
		margin-top: 6px;
		margin-bottom: 10px;
	}
	&__price {
		font-size: 30px;
		color: @red;
		font-weight: bold;
	}
	
	.slick-arrow {
		width: 43px;
		height: 61px;
		top: 230px;
	}
	.slick-prev {
		left: -61px;
		background-image: url(../img/arrow-1-left.png);
		&:hover {
			background-image: url(../img/arrow-1-left-h.png);
		}
	}
	.slick-next {
		right: -71px;
		background-image: url(../img/arrow-1-right.png);
		&:hover {
			background-image: url(../img/arrow-1-right-h.png);
		}
		
	}
}
.window-profiles-title {
	margin: 74px 0 41px;
}

.colorful-crap {
	height: 886px;
	background: url(../img/blue-bg.png) bottom no-repeat, linear-gradient(to bottom, #fff201 0%, #ffcf27 50%);
	padding-top: 63px;
	
	& when (@develop-mode = true) {
		opacity: .5;
	}
}


/*
 * Не нужно переплачивать
 */
.no-overpayments {
	margin-top: 50px;
	&__top {
		height: 140px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}
	&__img {
	}
	&__price {
		background: url(../img/saving-bg.png) center no-repeat;
		background-size: contain;
		width: 141px;
		height: 79px;
		transform: rotate(-5deg);
		
		color: white;
		font-size: 17px;
		text-shadow: 0px 1px 0px #620101;

		margin-left: 16px;
		margin-bottom: 35px;
		padding-left: 36px;
		padding-top: 13px;
		> span {
			font-size: 25px;
			font-weight: bold;
		}
	}
	&__text {
		font: 500 30px/30px @font-museo;
		color: black;
		text-align: left;
		text-shadow: 3.392px 2.12px 0px rgba(1, 1, 1, 0.23);
	}
}


/*
 * Купите окна по низкой цене (с таймером)
 */
.timer {
	margin-top: 115px;

	&__title {
		font: 500 40px/50px @font-museo;
		
		text-shadow: 0px 6px 8px rgba(0, 83, 88, 0.34);
		text-align: center;
		margin: 0;
		color: white;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 14px;
	}
	&__subtitle {
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 19px;
	}
	&__note {
		font-size: 11px;
		color: white;
		text-align: center;
		margin-top: 12px;
		> a {
			color: inherit;
		}
	}
	&__btn {
		font-weight: 400;
//		font-size: 20px;
	}
}
.timer-val {
	height: 180px;
	margin-bottom: 16px;
	width: 666px;
	margin-left: auto;
	margin-right: auto;
}


.customers {
	&__subtitle {
		width: 830px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 37px;
	}
}


/*
 * Отзывы
 */
.reviews-section {
	background: url(../img/reviews-bg.png) top no-repeat;
	padding-top: 75px;
	margin-top: 34px;
	
//	opacity: .5;
	&__title {
		font: 500 40px/50px @font-museo;
		text-transform: uppercase;
		color: white;
		text-align: center;
		margin-top: 0;
		margin-bottom: 61px;
	}
}
.reviews {
	text-align: center;
	margin-bottom: 71px;
	&__item {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__img {
		height: 341px;
	}
	&__tooltip {
		background-image: linear-gradient(0, #ffcf27 0%, #fff201 100%);
		width: 568px;
		height: 100px;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 60px;
		margin-top: -54px;
		position: relative;
	}
	&__name {
		font-size: 26px;
		font-weight: 500;
	}
	&__city {
		font-size: 24px;
	}
	&__body {
		position: relative;
		width: 736px;
//		margin-left: auto;
//		margin-right: auto;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/quotes-1.png) center no-repeat;
			background-size: contain;
			width: 37px;
			height: 24px;
			left: -48px;
			top: 0;
		}
		&:after {
			content: '';
			position: absolute;
			background: url(../img/quotes-1.png) center no-repeat;
			background-size: contain;
			width: 37px;
			height: 24px;
			right: -48px;
			bottom: 0;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 10px;
		margin-top: 0;
	}
	&__text {
		font-size: 22px;
		margin-bottom: 0;
		margin-top: 0;
	}
	&__btn-prev {
		.btn-normalize();
		
		width: 44px;
		height: 44px;
		display: block;
		position: absolute;
		background: url(../img/arrow-3-left.png) center no-repeat;
		top: 50%;
		transform: translateY(-50%);
		left: 19px;
		&:hover {
			background: url(../img/arrow-3-left-h.png) center no-repeat;
		}
	}
	&__btn-next {
		.btn-normalize();
		
		width: 44px;
		height: 44px;
		display: block;
		position: absolute;
		background: url(../img/arrow-3-right.png) center no-repeat;
		top: 50%;
		transform: translateY(-50%);
		right: 19px;
		
		&:hover {
			background: url(../img/arrow-3-right-h.png) center no-repeat;
		}
	}
}



.gallery {
	padding-top: 69px;
	text-align: center;
	&__name {
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 6px;
	}
	&__price {
		font-size: 24px;
		font-weight: 500;
	}
	&__value {
		font-size: 30px;
		font-weight: bold;
		color: @red;
	}
}
.gallery-slider {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 28px;
	margin-bottom: 13px;
	&__item {
		width: 442px;
		height: 440px;
		display: flex;
		align-items: center;
		margin: 0 -82px;
		
		&.slick-center {
			z-index: 2;
			position: relative;
		}
		&.slick-center + .gallery-slider__item {
			
			z-index: 1;
			position: relative;
		}
	}
	&__img {
		background-color: black;
		box-shadow: 0px 0px 29px 0px rgba(1, 1, 1, 0.19);
		border-radius: 8px;
		width: 442px;
		height: 290px;
		transition: transform .3s ease;
//		border: 1px solid green;
		background-size: cover;
		
		.slick-center & {
			border: 3px solid #fc4628;
			transform: scale(358/290);

		}
		
	}
	
	
	
	.slick-arrow {
		width: 55px;
		height: 55px;
		top: 225px;
		cursor: pointer;
	}
	.slick-prev {
		left: -82px;
		background-image: url(../img/arrow-4-left.png);
	}
	.slick-next {
		right: -82px;
		background-image: url(../img/arrow-4-right.png);
		
	}
}
.call-me-bottom {
	background: url(../img/callme-bottom-bg.jpg) center no-repeat;
	height: 560px;
	margin-top: 18px;
	padding-top: 67px;
	
//	opacity: .5;
	&__title {
		font: 500 40px/50px @font-museo;
		margin: 0;
	}
	&__subtitle {
		font-size: 30px;
		color: #066781;
		margin: 6px 0 14px;
	}
	&__number {
		
		font: 500 40px/50px @font-museo;
		text-decoration: none;
		color: black;
	}
	&__block {
		padding-left: 96px;
	}
	&__form {
		width: 390px;
		margin-top: 15px;
		
		text-align: center;
		border-radius: 10px;
		background: white;
		box-shadow: 0px 0px 29px 0px rgba(1, 1, 1, 0.1);
		padding: 34px 33px 37px;
	}
	&__form-title {
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 24px;
	}
	&__note {
		color: white;
		font-size: 11px;
		margin-top: 20px;
		> a {
			color: white;
		}
	}
}


.footer-top {
	background: white;
	&__nav {
		height: 95px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		&:before {
			content: '';
			background: url(../img/logo.png) center no-repeat;
			background-size: contain;
			width: 143px;
			height: 155px;
			position: absolute;
			left: 0;
			top: 27px;
		}
	}
	&__link {
		font-size: 16px;
		text-transform: uppercase;
		color: black;
		text-decoration: none;
		margin-left: 20px;
	}
}
.footer-bottom {
	background: url(../img/footer-bg.png) center;
	&__block {
		height: 95px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__item {
		position: relative;
		padding-left: 82px;
		font-size: 18px;
		line-height: 24px;
		display: flex;
		flex-direction: column;
		margin-left: 35px;
		&:before {
			content: '';
			position: absolute;
			border: 1px solid black;
			border-radius: 50%;
			width: 49px;
			height: 49px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&_1 {
			&:before {
				background: url(../img/footer-i-time.png) center no-repeat;
			}
		}
		&_2 {
			&:before {
				background: url(../img/footer-i-mark.png) center no-repeat;
			}
		}
		&_3 {
			text-align: right;
			&:before {
				background: url(../img/footer-i-tel.png) center no-repeat;
			}
		}
		
	}
	&__number {
		font-family: @font-museo;
		font-weight: 500;
		font-size: 26px;
		color: black;
		text-decoration: none;
	}
	&__button {
		font-family: @font-museo;
		font-weight: 500;
		font-size: 18px;
		color: #066781;
		text-decoration: none;
	}
}


.p() {
//	
//	position: fixed;
//	margin-left: auto;
//	margin-right: auto;
//	top: 50px;
//	left: 0;
//	right: 0;
//	
	display: none;
}


.popup-thanks { 
	.p();
	
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 12px 0px rgba(1, 1, 1, 0.45);
	font-weight: 500;
	font-family: @font-museo;
	text-align: center;
	line-height: 50px;
	width: 839px;
	height: 221px;
	padding: 60px 0;
	&__title {
		font-size: 40px;
		text-transform: uppercase;
	}
	&__subtitle {
		font-size: 36px;
	}
}
.popup {
	.p();
	
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 12px 0px rgba(1, 1, 1, 0.45);
	width: 839px;
	height: 591px;
	background-repeat: no-repeat;
	background-image: url(../img/popup-bg-1.png);
	background-position: 78px 130px;
	padding: 0;
	
	&_alt-bg {
		background-image: url(../img/popup-bg-2.png);
		background-repeat: no-repeat;
		background-position: 55px 122px;
	}
	&_m {
		background-position: 78px 150px;
	}
	&__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		
		padding-bottom: 50px;
		padding-top: 50px;
		.popup_m & {
			padding-top: 40px;
		}
	}
	&__title {
		font: 500 40px/40px @font-museo; 
		text-align: center;
		&_uppercase {
			text-transform: uppercase;
		}
	}
	&__form-title {
		font-size: 20px;
		line-height: 24px;
		&_67 {
			margin-bottom: 67px;
		}
	}
	&__form-subtitle {
		font-size: 24px;
		line-height: 24px;
		color: @red;
		font-weight: bold;
		margin: 30px 0;
		.popup_m & {
			margin: 20px 0;
		}
	}
	&__block {
		margin-left: 411px;
	}
	&__form {
		width: 324px;
	}
	&__btn {
		margin-top: 29px;
		.popup_m & {
			margin-top: 20px;
		}
	}
	&__note {
		color: #919191;
		font-size: 11px;
		font-weight: 300;
		margin-top: 14px;
		> a {
			color: inherit;
		}
	}
}
.small-popup {
	.p();
	
	
	border-radius: 10px;
	background: white;
	box-shadow: 0px 0px 12px 0px rgba(1, 1, 1, 0.45);
	width: 473px;
	height: 623px;
	text-align: center;
	background-image: url(../img/small-popup-bg.jpg);
	background-repeat: no-repeat;
	background-position: center 60px;
	padding-top: 49px;
	&_orange {
		background-image: linear-gradient(0, #ffcf27 0%, #fff201 100%);
//		background-image: url(../img/rm/p-1.png);
		
		background-position: 0;
		padding-top: 63px;
	}
	
	&__title {
		font-size: 40px;
		font-family: @font-museo;
		color: #f92401;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		text-shadow: 0px 14px 21px rgba(252, 70, 40, 0.37);
	}
	&__text-1 {
		font-size: 16px;
		line-height: 24px;
		margin-top: 200px;
		margin-bottom: 5px;
	}
	&__text-2 {
		color: @red;
		font-size: 22px;
		line-height: 24px;
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	
	
	&__text-3 {
		font-size: 20px;
		margin-top: 24px;
	}
	&__text-4 {
		font-size: 26px;
		margin: 27px 0 36px;
		max-width: 230px;
		margin-left: auto;
		margin-right: auto;
	}
	&__text-5 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	&__form {
		width: 324px;
		margin-left: auto;
		margin-right: auto;
	}
	&__btn-1 {
		margin-top: 14px;
	}
	&__btn-2 {
		margin-top: 28px;
	}
	&__note {
		margin-top: 18px;
		font-size: 11px;
		font-weight: 300;
		color: #353535;
		> a {
			color: inherit;
		}
	}
}